*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

/* Custom Properties */
:root {
  --ff-primary: "Sarabun", sans-serif;
  --ff-secondary: "Helvetica", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #f3f3f3;
  --clr-dark: #373844;
  --clr-darker: #22232c;
  --clr-grayed-out: gray;
  --clr-accent: #16e0bd;
  --clr-accent-hover: #3cfcd9;
  --clr-2d: #e0cf16;
  --clr-2d-hover: #fce23c;
  --clr-3d: #16e045;
  --clr-3d-hover: #56fc3c;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-button: 1rem;
  --fs-nav: 1rem;
  
  --hh: 69px;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/* END: Custom Properties */

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  min-height: calc(100vh - var(--hh));
  padding: 5em 2em;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus{
  /* tab-focused elements */
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* END: General Styles */

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title {
  color: var(--clr-accent);
  position: relative; /* "because I have this pseudo element that I wanna put on it */
}

.section__title::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1.5em;
  background: var(--clr-light);
  /* background: currentColor; this will make the color match with the parent obj color */
  opacity: 0.25;
}

.section__title--projects::after {
  margin: 0.5em auto 1em;
}

.section__title--about::after {
  margin: 0.5em auto 1em;
  background: var(--clr-darker);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,

.section__subtitle--about {

}

.section__subtitle--certifications {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* END: Typography */

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: var(--fw-bold);
}

.btn:hover {
  background-color: var(--clr-accent-hover);
  transition: 0.3s all ease;
}

.btn:focus {
  transition: 0s;
}

.btn--card {
  display: block;
  text-align: center;
  font-size: var(--fs-button);
  border-radius: 0.3em;
  padding: .8em 2.5em;
}

.btn--card--disabled {
  background-color: lightgray;
  pointer-events: none;
}

/* END: Buttons */

/* Cards */

.card {
  margin: 0 auto 4em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: .3em;
  padding: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card--intro__few-words {
  max-width: 1000px;
  margin-top: 4em;
  background-color: var(--clr-darker);
  padding-top: 1%;
  padding-bottom: 1%;
}

.card--project{
  display: flex;
  margin-bottom: 0;
  max-width: 500px;
  background-color: var(--clr-light);
  padding: 6%;
  text-align: start;
  color: var(--clr-dark)
}

.card--certificate{
  display: flex;
  margin-bottom: 0;
  max-width: 500px;
  background-color: var(--clr-light);
  padding: 6%;
  text-align: start;
  color: var(--clr-dark)
}

.card--more-to-come{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  background-color: var(--clr-light);
  padding: 6%;
  color: var(--clr-dark);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
}

.card--more-to-come--transparent {
  opacity: 0.035;
}

.card--certificate:focus{
  /*background-color: var(--clr-accent);*/
  /*position: relative;*/
  /*z-index: 2;*/
}

.card--certificate:hover {
  /*background-color: var(--clr-accent);*/
}

/* END: Cards */

a.anchor{
  display: block;
  position: relative;
  top: calc(var(--hh) * -1);
  visibility: hidden;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: var(--clr-accent);
  bottom: 40px;
  right: 50px;
  border-radius: .3em;
  
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: var(--clr-darker);
  font-size: 22px;
  
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  
  visibility: hidden;
  opacity: 0;
  
  transition: 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: var(--clr-accent-hover);
}

.back-to-top.active {
  visibility: visible;
  opacity: 0.7;
}

@media (max-width: 800px){
  .back-to-top {
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 5px;
    line-height: 40px;
    font-size: 18px;
  }
}

/* Header */

.header-non-mobile.sticky-header{
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--hh);
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.header-mobile.sticky-header{
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--hh);
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.header-non-mobile {
  background-color: var(--clr-darker);
  padding: 20px 10%;
  margin: 0 auto;
}

.header-mobile {
  display: none;
}

.header-non-mobile nav{
  margin: 0 auto;
  max-width: 1000px;
  font-size: var(--fs-nav);
}

.header-mobile nav {
  
}

.nav-toggle{
  background-color: transparent;
  border: none;
  padding: 1em 0.5em;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 9999;
}

.nav-toggle:hover{
  
}

.nav-open nav {
  transform: translateX(0);
}

.nav-open .nav-toggle{
  position: fixed;
}

.nav-open .hamburger{
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}


.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--clr-light);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--clr-light);
}

.hamburger::before {
  top: 6px;
}
.hamburger::after{
  bottom: 6px;
}

.nav__links {
  display: flex;
  justify-content: space-around;
}

.nav__links li {
  display: inline-block;
}

.nav__links li a {
  padding: .5em 1.25em;
  border-radius: 5px;
  color: var(--clr-light);
}

.nav__links li a:hover {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
}

@media (max-width: 800px)
{
  .header-mobile {
    background-color: var(--clr-darker);
    display: flex;
    justify-content: flex-end;
    padding: 1em;
  }
  
  .header-non-mobile {
    display: none;
  }
  
  nav {
    position: fixed;
    background-color: var(--clr-darker);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }

  .nav__links {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--fs-h3);
  }

  .nav__links li {
    padding: 0;
    display: block;
  }
  
  .nav__links li a {
    padding: 1em 2em;
  }
  
  .nav__links li a:hover {
    background-color: var(--clr-dark);
  }
}

/* END: Header */

/* Section - Intro */
.intro--section {
}

.intro {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.intro__img-cropper-round{
  margin: 0 auto .3em;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid var(--clr-darker);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.intro__img-cropper-round:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
  border-color: var(--clr-accent);
}

.intro__name {
  padding: 1% 0;
  text-align: center;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.intro__few-words {
  text-align: center;
  border-radius: .3em;
}

@media (min-width: 600px) {
  .intro__img-cropper-round{
    margin: 0 auto;
  }
}
/* END: Section: Intro */

/* Section: About Me */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}



@media (min-width: 600px) {
  .about-me {
    
  }

  .section__title--about {
  }
}
/* END: Section: About Me */

/* Section: My Projects */
.my-projects {
  background-color: var(--clr-darker);
  color: var(--clr-light);
  text-align: center;
}

.my-projects__project-type-buttons{

}

.btn--project--type-2d {
  background-color: var(--clr-2d);
}

.btn--project--type-2d:hover {
  background-color: var(--clr-2d-hover);
}

.btn--project--type-3d {
  background-color: var(--clr-3d);
}

.btn--project--type-3d:hover {
  background-color: var(--clr-3d-hover);
}

.my-projects__type-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin: 0 auto 4em;
  border-radius: 1000px;
  max-width: 1000px;
}

.my-projects__type-toggle__label {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

#toggle-label-2d {
  background-color: var(--clr-2d);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: var(--clr-dark);
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

#toggle-label-3d{
  color: var(--clr-grayed-out);
  background-color: var(--clr-dark);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.my-projects__type-toggle__toggle{
  display: table;
  align-items: center;
  justify-content: center;
  place-items: center;
  cursor: pointer;
}

#projects-toggle{
  cursor: pointer;
}

input[type="checkbox"]
{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 110px;
  height: 40px;
  appearance: none;
  background: var(--clr-2d);
  outline: none;
  border-radius: 1000px;
  transition: 0.4s;
  margin-bottom: 4em;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

input[type="checkbox"]:hover{
  
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

input:checked[type="checkbox"]
{
  background-color: var(--clr-3d);
}

input[type="checkbox"]:before
{
  content: '';
  text-align: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: var(--clr-light);
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  transform: scale(.8);
  transition: 0.4s;
}

input:checked[type="checkbox"]:before{
  left: 70px
}

#projects-2d{
  display: block;
}

#projects-3d{
  display: none;
}

.projects{
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(250px, auto);

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project__header{
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.project__header__img {
  display: flex;
  max-width: 90px;
  height: auto;
  width: 100%;
  border-radius: 0.3em;
}

.project__header__title{
}

.project__footer {
  width: 100%;
}

@media (min-width:600px){
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .project {
    gap: 30px
  }

  input[type="checkbox"]:before
  {
    width: 50px;
    height: 50px;
  }

  input:checked[type="checkbox"]:before{
    left: 110px
  }

  input[type="checkbox"]
  {
    width: 160px;
    height: 50px;
    margin-bottom: 4em;
  }


  #toggle-label-2d {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  #toggle-label-3d{
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (min-width:1000px){
  .projects {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .project{
    gap: 40px;
  }
}

/* End: Section - My Projects */

/* My Certifications */
.my-certifications {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.certifications {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(250px, auto);

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.certificate {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.certificate__header{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5%;
}

.certificate__header__img {
  max-width: 90px;
  height: auto;
  width: 100%;
  border-radius: 0.3em;
}

.project__header__title {
}

.certificate__footer {
  width: 100%;
}

@media (min-width:600px){
  .certifications {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  
  .certificate {
    gap: 30px
  }
}

@media (min-width:1000px){
  .certifications {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .certificate {
    gap: 40px;
  }
}


/* END: My Certifications */

/* Footer */
.footer {
  background: #111;
  color: var(--clr-accent);
  font-size: var(--fs-h3);
  text-align: center;
  padding: 2.5em 0 0.5em;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* END: Footer */

/* TODO: Auto-width from both sizes FIX => Used "display: block" in .section__title--intro strong */
/* TODO: TOGGLE DARK/WHITE theme */
